################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/job_applications/job_applications.csproj
/job_applications/job_applications.csproj
/job_applications/job_applications.sln
